body{
	background-color: #009BF9;
}
div{
	border: 10px solid #0F1;
	height: 600px;
	width: 60%;
	margin: 40px auto;
	text-align: center;
	box-shadow: 5px 10px 5px 3px #000;
}
h1{
	color: #FF0;
	border: 7px solid #fff;
	width: 17%;
}
h1:hover{
	color: #0F1;
	border: 7px solid #0F1;
	width: 18%;
}
label{
	font-size: 40px;
	color: #FF0;
}
.Slozhit,.Vychest,.Umnozhit,.Razdelit{
	padding: 10px 20px;
	font-size: 30px;
	margin: 10px;
	color: #FFF; 
}
.Vychest{
	background-color: #0F0;
}
.Umnozhit{
	background-color: #FF0;
}
.Razdelit{
	background-color: #9F00;
}
.Slozhit{
	background-color: #F01;
}
select{
	background-color: #fff;
	color: #00F;
	margin: 10px auto;
	font-size: 50px;
	border: 0px solid #0F0;
}
select:hover{
	background-color: #fff;
	margin: 10px auto;
	font-size: 50px;
	border: 5px solid #0F0;
}
.Easy{
	background-color: #050;
	color: #0F0;
}
.Middl{
	background-color: #660;
	color: #FF0;
}
.Hard{
	background-color: #700;
	color: #F00;
}
.Very_hard{
	background-color: #F00;
	color: #FF0;
}
button{
	background-color: #0F0;
	font-size: 50px;
	margin: 30px auto;
}
a{
	text-decoration: none;
	color: #000;
	border: 3px solid #F00;
	border-radius: 5px;
	padding: 13px 25px;
	margin: 700px;
	background-color: #0FF;
}
.teacher{
	text-decoration: none;
	color: #Fff;
	border: 3px solid #FF0;
	border-radius: 5px;
	padding: 16px 25px;
	margin: 10;
	background-color: #900;
}